{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>HGNC Search Lite</h1>

    <p class="intro">Enter the HGNC ID or symbol below to get some basic information
        about your gene!</p>

    <form method="GET" action="">
        <input type="text" name="search">
        <button type="submit">
            Search
        </button>
    </form>

{% if gene %}

<!--Display values for Gene Symbol, HGNC ID, and Approved Name.
    For the rest, display value, inserted comma if not the last
    value, and display NA if list is empty-->
<section>
    <table>
        <tr>
            <th>Gene Symbol</th>
            <td>{{ gene.gene_symbol }}</td>
        </tr>

        <tr>
            <th>HGNC ID</th>
            <td>{{ gene.hgnc_id }}</td>
        </tr>

        <tr>
            <th>Approved Name</th>
            <td>{{ gene.gene_name }}</td>
        </tr>

        <tr>
            <th>Previous Symbols</th>     
            <td>{{ gene.previous_gene_symbol|join:", "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>Previous Names</th>
            <td>{{ gene.previous_gene_name|join:", "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>Alias Symbols</th>
            <td>{{ gene.alias_symbol|join:", "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>Alias Names</th>
            <td>{{ gene.alias_name|join:", "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>MANE Select</th>
            <td>{{ gene.mane_select_transcripts|join:", "|default:"Not Found" }}</td>
        </tr>
    </table>
</section>

{% elif query %}
    <p class="no_table">{{ query }} not found.</p>

{% else %}
    <p class="no_table">Welcome!</p>
{% endif %}

</body>
</html>


