{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>HGNC Search Lite</h1>

    <p class="intro">Enter the HGNC ID or symbol below to get some basic information
        about your gene!</p>

    <form method="GET" action="">
        <input type="text" name="search">
        <button type="submit">
            Search
        </button>
    </form>

<!--Display values for Gene Symbol, HGNC ID, and Approved Name.
    For the rest, display value, inserted comma if not the last
    value, and display NA if list is empty-->
<section>
    <table>
        <tr>
            <th>Gene Symbol</th>
            <td>{{ gene.gene_symbol }}</td>
        </tr>

        <tr>
            <th>HGNC ID</th>
            <td>{{ gene.hgnc_id }}</td>
        </tr>

        <tr>
            <th>Approved Name</th>
            <td>{{ gene.gene_name }}</td>
        </tr>

        <tr>
            <th>Previous Symbols</th>
            <td>
                {% if gene.previous_gene_symbol %}
                    {% for p_symbol in gene.previous_gene_symbol %}
                        {{ p_symbol }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}N/A{% endif %}
            </td>
        </tr>

        <tr>
            <th>Previous Names</th>
            <td>
                {% if gene.previous_gene_name %}
                    {% for p_name in gene.previous_gene_name %}
                        {{ p_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}N/A{% endif %}
            </td>
        </tr>

        <tr>
            <th>Alias Symbols</th>
            <td>
                {% if gene.alias_symbol %}
                    {% for a_symbol in gene.alias_symbol %}
                        {{ a_symbol }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}N/A{% endif %}
            </td>
        </tr>

        <tr>
            <th>Alias Names</th>
            <td>
                {% if gene.alias_name %}
                    {% for a_name in gene.alias_name %}
                        {{ a_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}N/A{% endif %}
            </td>
        </tr>

        <tr>
            <th>MANE Select</th>
            <td>
                {% for mane_select in gene.mane_select_transcripts %}
                    {{ mane_select }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
</section>

</body>
</html>


