{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>HGNC Search Lite</h1>

    <p class="welcome">Welcome!</p>

    <form method="GET" action="">
        <input type="text" name="search">
        <button type="submit">
            Search
        </button>
    </form>

{% if gene %}

<!--Display values for Gene Symbol, HGNC ID, and Approved Name.
    For the rest, display value, inserted comma if not the last
    value, and display NA if list is empty-->
<section>
    <table>
        <tr>
            <th>Gene Symbol</th>
            <td>{{ gene.gene_symbol }}</td>
        </tr>

        <tr>
            <th>HGNC ID</th>
            <td>{{ gene.hgnc_id }}</td>
        </tr>

        <tr>
            <th>Approved Name</th>
            <td>{{ gene.gene_name }}</td>
        </tr>

        <tr>
            <th>Previous Symbols</th>     
            <td>{{ gene.previous_gene_symbol|join:" • "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>Previous Names</th>
            <td>{{ gene.previous_gene_name|join:"  •  "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>Alias Symbols</th>
            <td>{{ gene.alias_symbol|join:"  •  "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>Alias Names</th>
            <td>{{ gene.alias_name|join:"  •  "|default:"Not Found" }}</td>
        </tr>

        <tr>
            <th>MANE Select</th>
            <td>{{ gene.mane_select_transcripts|join:"  •  "|default:"Not Found" }}</td>
        </tr>
    </table>
</section>

{% elif invalid %}
    <p class="helpful_message">'{{ query }}' contains invalid characters. Please
        check '{{ query }}' only numbers, alphabets, or semi-colon.</p>

{% elif query %}
    <p class="helpful_message">'{{ query }}' not found. Check that your gene or HGNC ID exists.</p>

{% else %}
    <p class="helpful_message">Enter a gene name or HGNC ID to get some basic information about it!</p>
    <div class="accepted_format">Accepted formats:
        <ul class="accepted_format_ul">
            <li>BRCA1</li>
            <li>brca1</li>
            <li>HGNC:1100</li>
            <li>hgnc:1100</li>
            <li>1100</li>
        </ul>
    </div>
{% endif %}

</body>
</html>


